* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: rgb(255, 0, 200);
  display: flex;
}

.nav {
  flex-basis: 140px;
  background-color: pink;
}
