* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list {
  list-style: none;
  width: 960px;
  margin: 0 auto;
}

.list-item {
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
}

.list-item:nth-child(1) {
  margin-top: 50px;
}

.list-item:nth-child(odd) {
  background-color: lightgrey;
}

.box {
  width: 960px;
  height: 680px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

.main-box:first-child,
.main-box:nth-child(5),
.main-box:last-child {
  background-color: orange;
}

.main-box {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: yellow;
}

.main-box:nth-child(3),
.main-box:nth-child(6),
.main-box:last-child {
  margin-right: 0;
}
